<legend><strong></strong></legend>
<div>
  <div class="container-fluid">
    <div class="row-fluid">
      <p class="muted text-center">©2013&nbsp比特币助学基金</p>
      <p class="muted text-center">Powered&nbspby&nbsp poppinyunhai</p>
    </div>
  </div>
</div>