<ul class="nav nav-tabs nav-stacked">
  <li><%= link_to "捐助者管理", admin_donors_path %></li>
  <li><%= link_to "受捐助者管理", admin_recipients_path %></li>
  <li><%= link_to "新闻管理", admin_pres_path %></li>
  <li><%= link_to '退出登录', destroy_user_session_path, :method => :delete %></li>
</ul>