<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 offset1 center">
        <%=raw @about.content%>
    </div>
  </div>
</div>
<script type="text/javascript">
  var sdonor= document.getElementsByTagName("li");
  for (var i = 0; i < sdonor.length; i++ ) {
    {
      sdonor[2].setAttribute("class","active");
    }
  }
</script>

